syntax: glob
*~
*.swp
*.orig
*.tmp.
.svn
*.bak
*.log
.cache/
.settings/
.buildpath
.gitignore
.project
.htaccess
library/Zend
data/backup
data/backup.sql
data/slideshows
data/videos
data/tmp/
application/configs/application.ini
application/configs/application_saguez.ini

