syntax: glob
*~
*.swp
*.orig
*.tmp.
.svn
*.bak
*.log
.cache/
.settings/
.buildpath
.gitignore
.project
library/Zend
data/slideshows
data/audios
data/videos
data/qrcode/*.png
data/9block/*.png
configs/application.ini
public/favicon.ico

