* {
    font-family: monospace;
    font-size: 10pt;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

a { text-decoration: none; }
a:focus { outline: none; }

.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }

h1 {
    font-size: 2.5em;
    font-weight: bold;
    text-align: right;
    padding: 1.0em 1.0em 0.5em 1.0em;
}

h1 a {
    color: #000000;
}

h2 {
    font-size: 1.8em;
    font-weight: bold;
}

h2 a {
    font-size: 0.73em;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 0.3em;
}

p {
    margin: 0.5em 0em;
    line-height: 1.2em;
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#header {
    background-image: url('/templates/hackmeeting/header_2.0.png');
    background-repeat: no-repeat;
    background-position: 0% 100%;
    height: 340px;
    color: #ffffff;
}

#main {
    margin: 0 auto;
    max-width: 960px;
    background-color: #ffffff;
    color: #000000;
}

#content {
    padding: 10px 10px;
}

#footer {
    margin-bottom: 2.0em;
}

#binary {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    color: #4fff4f;
    opacity: 0.25;
    z-index: -100;
    text-align: justify;
    overflow: hidden;
    position: fixed;
}

/*-------------------------------------------*/
/*             BARRA DE USUARIO              */
/*-------------------------------------------*/
.auth {
    float: right;
    margin-top: 5px;
    font-size: 0.94em;
}

.auth a {
    font-size: 0.94em;
    color: #ffffff;
    background-color: #000000;
}

/*-------------------------------------------*/
/*                   MENUS                   */
/*-------------------------------------------*/
.nav {
    height: 24px;
    overflow: hidden;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    height: 20px;
    padding: 4px 6px;
    margin: 0px 2px 0px 0px;
}

.nav ul li {
    background-color: #d0d0d0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav ul li.active {
    background-color: #ffffff;
}

.nav ul li a {
    color: #000000;
}

.nav ul li.active a {
    color: #000000;
    font-weight: bold;
}

#main .nav {
    color: #ffffff;
}

#main .nav ul li {
    background-color: #000000;
    background-image: none;
}

#main .nav ul li a {
    color: #ffffff;
}

#footer ul li a {
    color: #ffffff;
}

/*-------------------------------------------*/
/*   ELEMENTO CONTADOR EN PAGINA PRINCIPAL   */
/*-------------------------------------------*/
#countdown {
    width: 510px;
    height: 105px;
    margin: 10px auto;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 5px solid #000000;
}

#countdown .cntSeparator {
    margin: 30px 10px;
}

#countdown .desc {
    margin: 7px 3px;
}

#countdown .desc div {
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

#countdown .days { margin-left: 5px; }
#countdown .hours { margin-left: 105px; }
#countdown .minutes { margin-left: 95px; }
#countdown .seconds { margin-left: 80px; }

/*-------------------------------------------*/
/*           COLORES TIPO TERMINAL           */
/*-------------------------------------------*/
.red { color: #ff4f4f; }
.blue { color: #4f4fff; }
.green { color: #4fff4f; }
.yellow { color: #ffff7f; }
.magenta { color: #ff4fff; }
.cyan { color: #4fffff; }
.white { color: #ffffff }
.gray { color: #4f4f4f; }

.bold { font-weight: bold; }
.plain { font-weight: normal; }
.form { margin: 15.0em; }

/*-------------------------------------------*/
/*           BLOQUES RENDERIZABLES           */
/*-------------------------------------------*/
.post {
    position: relative;
    margin: 11px 0px;
    padding: 10px 10px 35px 10px;
    background-color: #000000;
    color: #ffffff;
    min-height: 125px;
}

.post h2, .post a {
    color: #77ff77;
}

.post h2 a {
    font-size: 1.2em;
}

.post p {
    text-align: justify;
    padding: 5px 0px;
}

.post a {
    font-weight: bold;
}

.photo {
    background-color: #ffffff;
    float: left;
    margin: 5px 10px 10px 5px;
    width: 96px;
    height: 96px;
}

.time {
    position: absolute;
    top: 4px;
    right: 6px;
}

.time .day {
    font-size: 1.7em;
    font-weight: bold;
}

.time .month {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 0.25em;
}

.tools {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*-------------------------------------------*/
/*               FORMULARIOS                 */
/*-------------------------------------------*/
input[type="text"],
input[type="password"],
textarea {
    font-size: 1.0em;
    padding: 0.2em;
    min-width: 350px;
    max-width: 700px;
}

form {
    margin: 0 auto;
}

dt {
    float: left;
    width: 12.0em;
    text-align: right;
    font-size: 1.0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

dd {
    margin-left: 14.0em;
    margin-bottom: 0.3em;
}

dd li {
    list-style: none outside none;
}

/*-------------------------------------------*/
/*           FUNCIONES DISPONIBLES           */
/*-------------------------------------------*/
.tasks {
    margin: 1.0em 0em;
    padding: 0.1em 0em;
}

.tasks a, .tasks input[type="submit"] {
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    margin: 0.4em 0em;
    padding: 0.2em 0.5em;
}

.tasks input[type="submit"] {
    border: none;
}

/*-------------------------------------------*/
/*                  TABLAS                   */
/*-------------------------------------------*/
table {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
}

table tr a {
    color: #000000;
} 

table th {
    font-size: 1.1em;
    padding: 0.25em;
}

table td {
    padding: 0.2em;
}

.even {
    background-color: #dfdfdf;
}

/*-------------------------------------------*/
/*               CREDENCIALES                */
/*-------------------------------------------*/
.aureal {
    width: 542px;
    height: 335px;
    background-color: #ffffff;
    color: #000000;
    margin: 4.0em auto;
    border-radius: 10px;
    position: relative;
}

.aureal dl dt, .aureal dl dd {
    font-size: 14px;
}

.aureal dl dt {
    width: 120px;
    margin: 0px;
    font-weight: bold;
    color: #0000FF;
}

.aureal dl dd {
    margin-left: 130px;
}

/*-------------------------------------------*/
/*               ACTIVIDADES                 */
/*-------------------------------------------*/
.happy {
    background-color: #4fff4f;
}

.sad {
    background-color: #ff4f4f;
}
