* {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.987em;
}

body {
    margin: 0pt;
    padding: 0pt;
}

input[type='text'], input[type='password'] {
    width: 30.0em;
}

dt {
    float: left;
    width: 14.5em;
    height: 2.0em;
    text-align: right;
}

dd {
    min-height: 2.0em;
    margin-left: 15.0em;
}

dd li {
    list-style: none outside none;
}

td, tr {
    padding: 0;
    margin: 0;
}

td {
    padding-right: 10px;
    vertical-align: top;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
    outline: none;
}

p {
    text-align: justify;
}

img {
    border: 0pt;
}

#header {
    background: transparent url('/media/usuario-short.png') no-repeat 14px 100%;
    padding-top: 16px;
}

#header h1 {
    font-size: 2.2em;
}

#header, #main, #footer {
    width: 960px;
    display: block;
    margin: 0pt auto;
}

#header > .nav, #main, #footer > .nav {
    -moz-box-shadow: 0.3em 0.3em 0.45em #707070;
}

#header #banner {
    margin-left: 170px;
    text-shadow: 0.1em 0.1em 0.1em #aaaaaa;
    height: 50px;
}

#header .nav {
    -moz-border-radius: 1.0em 1.0em 0em 0em;
}

#header .nav, #main, #footer .nav {
    background-color: #000000;
    color: #ffffff;
}

#header .nav ul li, #footer .nav ul li {
    display: inline;
}

#header .nav ul li a, #footer .nav ul li a {
    padding: 0.30em 0.36em;
    display: inline-block;
}

#header .nav ul li a.active {
    background: -moz-linear-gradient(top, #eeeeee, #999999);
    text-shadow: 0.1em 0.1em 0.1em #ffffff;
    color: #000000;
}

#main {
    min-height: 25.0em;
}

#content {
    margin: 0pt;
    padding: 10px 10px;
}

#content p {
    margin: 0pt;
    padding: 0pt;
    line-height: 1.25em;
}

#content a:hover {
    text-decoration: underline;
}

#footer .nav {
    -moz-border-radius: 0em 0em 1.0em 1.0em;
    text-align: right;
}

#footer .nav ul {
    padding: 0em 1.0em 0em 0em;
    
}

.red { color: #ff4f4f; }
.blue { color: #4f4fff; }
.green { color: #4fff4f; }
.yellow { color: #ffff7f; }
.magenta { color: #ff4fff; }
.cyan { color: #4fffff; }
.white { color: #ffffff }
.gray { color: #4f4f4f; }

.bold { font-weight: bold; }
.plain { font-weight: normal; }
.form { margin: 15.0em; }

#countdown {
    margin: 0pt auto;
    width: 524px;
    height: 105px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #ffffff;
    -moz-border-radius: 10px;
}

#countdown .cntSeparator {
    margin: 10px 10px;
}

#countdown .desc {
    margin: 7px 3px;
}

#countdown .desc div {
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

#countdown .days { margin-left: 72px; }
#countdown .hours { margin-left: 100px; }
#countdown .minutes { margin-left: 86px; }
#countdown .seconds { margin-left: 72px; }

.center {
    width: 655px;
    margin: 0pt auto;
}

.right {
    text-align: right;
}

.exhibition {
    width: 800px;
    margin: 0pt auto;
}

.exhibition .audio {
    float: right; width: 1.0em; text-align: center; background-color: #ff4fff; color: #000000; font-weight: bold;
}

.exhibition .video {
    float: right; width: 1.0em; text-align: center; background-color: #ffff7f; color: #000000; font-weight: bold;
}

.exhibition .slideshow {
    float: right; width: 1.0em; text-align: center; background-color: #4fffff; color: #000000; font-weight: bold;
}

.new .title {
    background-color: #ffffff;
    color: #000000;
    padding: 0.09em 0.5em 0.05em 0.5em;
    margin: 0.2em 0em;
}

.new .description {
    padding: 0.5em;
    margin: 0.1em;
    min-height: 145px;
}
