@font-face {
    font-family: 'Grotesk';
    src: url('fonts/AKZIDENZGROTESKBQ-BDCND.OTF');
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaLTStd-Light.otf');
}

.clear {
    clear: both;
}

header {
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1.42em;
}

header div {
    position: relative;
}
  
header div h1 {
    font-family: Grotesk,Helvetica,Helvetica Neue,Arial,sans-serif;
    font-size: 1.3em;
    left: -10em;
    position: absolute;
    top: 10em;
    transform: rotate(-90deg);
    width: 21em;
}


h2 {
    font-family: Helvetica,Helvetica Neue,Arial,sans-serif;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

section {
    margin-bottom: 2.5em;
    margin-left: 1.42em;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    color: #ffffff;
    border-top: 0.2em solid #ffffff;
}

footer ul {
    text-align: right;
}

footer ul li {
    display: inline-block;
    padding: 0.3em;
}

footer ul li a {
    font-size: 0.7em;
    color: inherit;
    text-decoration: none;
}

footer ul li a:hover {}

article {
    padding: 1.0em 0em;
    margin: 0em;
    /*height: 10.0em;*/
}

article img {
    height: 9.0em;
    width: auto;
}
article:nth-child(even) img {
    transform: rotate(180deg);
    float: right;
}

article h3 {
    font-weight: bold;
    margin: 0em 1em 1em 1em;
}

article:nth-child(even) h3 {
    text-align: left;
    color: #55D400;  
    
}

article:nth-child(odd) h3 {
    text-align: right;
    color: #008080;
}
article:nth-child(even) {
    background-color: #000000;
    /*background-image: url('len-white.png');*/
    color: #ffffff;
}

article:nth-child(odd) {
    background-color: #ffffff;
    /*background-image: url('len-black.png');*/
    color: #000000;
}

