body, input {
    font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0pt;
    padding: 0pt;
}

input[type='text'], input[type='password'] {
    width: 30.0em;
}

dt {
    float: left;
    width: 14.5em;
    height: 2.0em;
    text-align: right;
}

dd {
    min-height: 2.0em;
    margin-left: 15.0em;
}

dd li {
    list-style: none outside none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:focus {
    background-color: #7f7fff;
    outline: none;
}

img {
    border: 0pt;
}

header, nav, footer, article, section {
    display: block;
    margin: 0pt auto;
}

header, nav, footer {
    width: 960px;
}

#main {
    min-height: 25.0em;
}

article, section {
    width: 940px;
    padding: 0.1em 10px 0.5em 10px;
    font-size: 0.90em;
}

section p {
    line-height: 1.25em;
}

section td, section tr {
    padding: 0;
    margin: 0;
}

section td {
    padding-right: 1.0em;
}

section a:hover {
    text-decoration: underline;
}

header nav, article, section, footer nav {
    background-color: #000000;
    color: #ffffff;
}

header h1 {
    font-size: 2.6em;
    margin: 1.0em 0em 0.2em 0em;
    text-shadow: 0.1em 0.1em 0.1em #aaaaaa;
}

header nav {
    -moz-border-radius: 0.6em 0.6em 0em 0em;
}

footer nav {
    -moz-border-radius: 0em 0em 0.6em 0.6em;
}

header nav ul, footer nav ul {
    list-style: none outside none;
}

header nav ul li, footer nav ul li {
    display: inline;
}

header nav ul li a, footer nav ul li a {
    padding: 0.3em;
    display: inline-block;
}

header nav ul li a {
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: #7f7f7f;
    outline: none;
}

header nav ul li a.active {
    background-color: #ffffff;
    color: #000000;
}

footer nav {
    margin-top: 1.0em;
    text-align: right;
}

footer nav ul {
    padding: 0em 1.0em 0em 0em;
}

.red { color: #ff7f7f; }
.blue { color: #7f7fff; }
.green { color: #7fff7f; }
.yellow { color: #ffff7f; }
.magenta { color: #ff7fff; }
.cyan { color: #7fffff; }
.white { color: #ffffff }
.gray { color: #7f7f7f; }

.bold { font-weight: bold; }
.form { margin: 15.0em; }
