body, input {
    font-family: "Courier New", Courier, monospace;
}

body {
    margin: 0pt;
    padding: 0pt;
}

input[type='text'], input[type='password'] {
    width: 30.0em;
}

dt {
    float: left;
    width: 14.5em;
    height: 2.0em;
    text-align: right;
}

dd {
    min-height: 2.0em;
    margin-left: 15.0em;
}

dd li {
    list-style: none outside none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

img {
    border: 0pt;
}

header, nav, footer, article, section {
    display: block;
    margin: 0pt auto;
}

header, nav, footer {
    width: 960px;
}

header {
    position: relative;
}

#logo {
    position: absolute;
    width: 128px;
    height: 127px;
    top: -1.6em;
    left: 0.5em;
    background-image: url('/media/usuario-short.png');
}

#banner {
    margin-left: 150px;
}

#main {
    min-height: 25.0em;
}

header > nav, #main, footer > nav {
    -moz-box-shadow: 0.3em 0.3em 0.45em #707070;
}

article, section {
    width: 940px;
    padding: 1.0em 10px 0.5em 10px;
    font-size: 0.912em;
}

section p {
    line-height: 1.25em;
    margin: 0em 0em;
}

section td, section tr {
    padding: 0;
    margin: 0;
}

section td {
    padding-right: 1.0em;
}

header nav ul li a:hover, footer nav ul li a:hover, section a:hover {
    text-decoration: underline;
}

header nav, article, section, footer nav {
    background-color: #000000;
    color: #ffffff;
}

header h1 {
    font-size: 2.6em;
    margin: 1.0em 0em 0.2em 0em;
    text-shadow: 0.1em 0.1em 0.1em #aaaaaa;
}

header nav {
    -moz-border-radius: 0.6em 0.6em 0em 0em;
}

footer nav {
    -moz-border-radius: 0em 0em 0.6em 0.6em;
}

header nav ul, footer nav ul {
    list-style: none outside none;
}

header nav ul li, footer nav ul li {
    display: inline;
}

header nav ul li a, footer nav ul li a {
    padding: 0.3em;
    display: inline-block;
}

header nav ul li a {
    font-weight: bold;
}

a:focus, header nav ul li a.active {
    background: -moz-linear-gradient(top, #ffffff, #bbbbbb);
    color: #000000;
    outline: none;
}

footer nav {
    margin-top: 1.0em;
    text-align: right;
}

footer nav ul {
    padding: 0em 1.0em 0em 0em;
}

.red { color: #ff4f4f; }
.blue { color: #4f4fff; }
.green { color: #4fff4f; }
.yellow { color: #ffff7f; }
.magenta { color: #ff4fff; }
.cyan { color: #4fffff; }
.white { color: #ffffff }
.gray { color: #4f4f4f; }

.bold { font-weight: bold; }
.form { margin: 15.0em; }
